@using ShowTrack.Contracts.Dtos

@inject DialogService DialogService

<div>
    <RadzenTemplateForm TItem="CreateShowDto" Data="NewShow" Submit="() => DialogService.Close(NewShow)">
        <RadzenRow Gap="10">
            <RadzenColumn Size="12" SizeSM="10">
                <RadzenFormField Text="Title" Style="width: 100%;">
                    <RadzenTextBox Name="ShowTitle" @bind-Value="@NewShow.Title" Style="width: 100%;" />
                </RadzenFormField>
                <RadzenRequiredValidator Component="ShowTitle" Text="Title is required." />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeSM="2">
                <RadzenFormField Text="Season" Style="width: 100%;">
                    <RadzenNumeric Min="1"  Name="ShowSeason" TValue="int?" ShowUpDown="false" @bind-Value="@NewShow.CurrentSeason" Style="width: 100%;" />
                </RadzenFormField>
                <RadzenCustomValidator @ref="_seasonValidator" Component="ShowSeason" Validator="ValidateSeason"></RadzenCustomValidator>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow RowGap="15">
            <RadzenColumn Size="12" />
            <RadzenColumn Size="4" Offset="4" SizeSM="2" OffsetSM="8">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="() => DialogService.Close(null)" Text="Cancel" Style="width:100%" />
            </RadzenColumn>
            <RadzenColumn Size="4" SizeSM="2">
                <RadzenButton ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit" Text="Add" Style="width:100%" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</div>

@code {
    private RadzenCustomValidator _seasonValidator = new();
    private CreateShowDto NewShow { get; } = CreateShowDto.New();

    private bool ValidateSeason()
    {
        switch (NewShow.CurrentSeason)
        {
            case > 0:
                return true;
            case null:
                _seasonValidator.Text = "Season is required.";
                break;
            default:
                _seasonValidator.Text = "Invalid season!";
                break;
        }

        return false;
    }

}
