::deep .show-title {
    min-height: 72px;
    background-color: var(--rz-secondary-lighter);
}

::deep .rz-datalist-content {
    overflow-y: scroll;
    max-height: 550px;
}

::deep .rz-paginator {
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 576px) {
    ::deep .rz-datalist-content {
        max-height: 350px;
    }
}