::deep .show-title {
    min-height: 72px;
    background-color: var(--rz-secondary-lighter);
}

::deep .rz-datalist-content {
    overflow-y: scroll;
    max-height: 550px;
}

::deep .rz-paginator {
    width: 100%;
    position: fixed;
    bottom: 0;
}

::deep .rz-rating-cancel {
    display: none;
}

@media only screen and (max-width: 576px) and (min-height:634px) {
    ::deep .rz-datalist-content {
        max-height: 65vh;
    }
}

@media only screen and (max-width: 576px) and (min-height:731px) {
    ::deep .rz-datalist-content {
        max-height: 68vh;
    }
}

@media only screen and (max-width: 576px) and (min-height:806px) {
    ::deep .rz-datalist-content {
        max-height: 71vh;
    }
}